body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.phone-container {
    display: flex;
}

.phone-container select {
    width: 100%;
    margin-right: 10px;
    padding-left: 30px;
    background-position: left center;
    background-repeat: no-repeat;
}

#countryCode {
    width: 120px;
    padding: 10px;
}

.skills-container, .experience-container, .education-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.experience-container input, .education-container input {
    width: 85%;
    margin-right: 10px;
}

.skills-container input {
    width: 190%;
    margin-right: 10px;
}

.skills-container button, .experience-container button, .education-container button {
    width: 12%;
    height: 42px;
    background-color: #008CBA;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.skills-container button:hover, .experience-container button:hover, .education-container button:hover {
    background-color: #005f6b;
}

.skill-list, .experience-list, .education-list {
    list-style-type: none;
    padding: 0;
}

.skill-list li, .experience-list li, .education-list li {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.skill-list li .remove-skill, .experience-list li .remove-experience, .education-list li .remove-education {
    color: red;
    cursor: pointer;
}

#addExperience, #addEducation {
    background-color: #008CBA;
    color: white;
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addExperience:hover, #addEducation:hover {
    background-color: #005f6b;
}

.generate-btn {
    display: block;
    margin: 20px auto;
}

#generatedResume {
  display: flex;
  max-width: 600px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  flex-direction: row-reverse; /* Image on the right */
  margin: 20px auto; /* Center the resume horizontally */
}

#generatedResume img {
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin-left: 20px; 
}

.resume-content {
  flex-grow: 1;
}

.education-item {
display: flex;
justify-content: space-between;
margin-bottom: 10px;
}

.education-info {
flex-grow: 1;
}

.education-details {
text-align: right;
min-width: 200px;
}